// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
$v-font-size: 14px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

/* This font-face declaration must be outside your theme mixin. */
@font-face {
  font-family: 'Vaadin-Icons';
  src: url('fonts/Vaadin-Icons.eot');
  src: url('fonts/Vaadin-Icons.eot?#iefix') format('embedded-opentype'),
  url('fonts/Vaadin-Icons.woff') format('woff'),
  url('fonts/Vaadin-Icons.ttf') format('truetype'),
  url('fonts/Vaadin-Icons.svg#icomoon') format('svg');
}

.Vaadin-Icons {
  font-family: 'Vaadin-Icons';
}

@mixin cafetycoon {
  @include valo;

  .header {
    background-color: #5995E9;

    .menu-button, .menu-button.v-pressed, .menu-button:hover, .menu-button:hover:after, .menu-button:focus:after {
      border: none;
      background: transparent;
      color: white;
      box-shadow: none;
      position: relative;
      left: 0px;
      top: 15px;
      border-radius: 0;
      z-index: 15;
    }

    .view-title {
      color: white;
      font-size: 25px;
      position: absolute;
      text-align: center;
      left: 0px;
      right: 0px;
      top: 10px;
    }
  }

  .menu.hidden {
    left: -185px;
    transition: 0.5s;
  }
  
  .menu.visible {
    left: 0px;
    transition: 0.5s;
  }

  .menu {
    position: absolute;
    width: 170px;
    top: 60px;
    z-index: 10;
  	box-shadow: 5px 1px 5px 1px #999;
    
    .v-icon {
      color: #EE7C08;
    }
  }
  
  .sales-overview {
     background: white;
     
    .v-caption {
      text-transform: uppercase;
      color: #5F9DF7;
      border-bottom: 1px solid #5F9DF7;
    }
    .v-textfield {
      text-align: right;
      font-size: 20px;
      border: none;
      background: transparent;
    }
    .cafes {
      background: transparent;

      .v-grid-tablewrapper {
        border: none;
      }
      .v-grid-header {
        text-transform: uppercase;
        th {
          border-left: none;
          color: gray;
          background: transparent;
        }
      }
      .v-grid-row-stripe > td {
        background-color: transparent;
      }
      .v-grid-row > td {
        border: none;
      }
      .v-grid-row-selected > .v-grid-cell {
        background: #5F9DF7;
        color: white;
      }
      .v-grid-cell {
        font-size: 13px;
      }
      .v-grid-cell-focused:before {
        border: none;
      }
      .cafe-status-RUNNING {
        color: #5F9DF7;
        text-transform: uppercase;
      }
      .cafe-status-SERVING_COFFEE {
        color: green;
        text-transform: uppercase;
      }
      .cafe-status-OUT_OF_STOCK {
        color: #E61E6E;
        text-transform: uppercase;
      }
      .cafe-status-UNKNOWN {
        color: gray;
        text-transform: uppercase;
      }
      .cafe-income {
        text-align: right;
      }      
    }
  }
  
  .cafe-overview.hidden {
    right: -415px;
    transition: 0.5s;
  }
  
  .cafe-overview.visible {
    right: 0px;
    transition: 0.5s;
  }
  
  .cafe-overview {  
  	position: absolute;
  	top: 0px;
  	bottom: 0px;
  	box-shadow: -5px 0px 5px 1px #999;
    background-color: white; 	
  
    .cafe-name {
      font-size: 20px;
    }  	    
    .cafe-address {
      font-size: 10px;
      color: gray;
    }    
    .out-of-stock {
      background-color: #E61E6E;
      color: #FFFFFF;
      padding: 5px;
    }    
    .serving-coffee {
      background-color: green;
      color: #FFFFFF;
      padding: 5px;
    }     
    .employees {
      .employee {
         padding: 5px;
         position: relative;
    
        .employee-picture {
          width:64px;
          height:64px;
          border-radius: 50%;
          display: block;
          margin: 0 auto;
        }
        .employee-name {
          display: block;
          text-align: center;
        }      
        .employee-message-layout {
          padding: 5px;
          position: absolute;
          left: auto;
          right: 0px;
          top: 105px;
          width: 250px;
          height: auto;
          background: #ccff99;
          border-radius: 10px;
          z-index: 10;
          box-shadow: 2px 2px 5px 0px #999;
          cursor: pointer;
      
          .employee-message-content {
            white-space: normal;
          }
        
          .employee-message-ts {
            color: #999;
            font-size: 10px;
            width: 100%;
            text-align: right;
          }
        }
        .employee-message-layout:after {
          content: "";
          position: absolute;
          top: -15px;
          right: 20px;
          left: auto;
          bottom: auto;
          border-width: 0 15px 15px;
          border-style: solid;
          border-color: #ccff99 transparent;
          display: block;
          width: 0;
        }
      }      
    }
    .restock-button {
      width: 100%;
      color: white;
      background: #5F9DF7;
      border-radius: 0;
      border: none;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: normal;
    }    
    .v-caption {
      text-transform: uppercase;
      color: #5F9DF7;
      border-bottom: 1px solid #5F9DF7;
    }    
    .sales-data {
      background: transparent;
      
      .v-grid-tablewrapper {
        border: none;
      }
      .v-grid-header {
        text-transform: uppercase;

        th {
          border-bottom: none;
          border-left: none;
          color: gray;
          background: transparent;
        }
      }
      .v-grid-row-stripe > td {
        background-color: transparent;
      }
      .v-grid-row > td {
        border: none;
      }
      .v-grid-row-selected > .v-grid-cell {
        background: #5F9DF7;
        color: white;
      }
      th:first-child, td:first-child {
        padding-left: 0;
      }
      th:last-child, td:last-child {
        padding-right: 0;
      }
      .v-grid-cell {
        font-size: 11px;
      }
      .ralign {
        text-align: right;
      }
      .boldtext {
        font-weight: bold;
      }
      .v-grid-footer {
        text-transform: uppercase;
        border-top: 1px solid lightgray;
        
        td {
          color: #5F9DF7;
          background: transparent;
        }
      }      
    }
  }
}
